
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #304FFF;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

header h1{
    font-family: "Press Start 2P", sans-serif;
    color: #FC2403;
    text-shadow: 5px 5px 0px #000;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Fira code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #FC2403;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

span{
    background-color: #FC2403;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #FC2403;
    padding: 18px 20px; 
    box-shadow: 5px 5px 0 #000000;
    margin-right: 0;
}

#button:hover {
    background-color: #f8472c;
}